[profile.default]
src = "contracts"
out = "out"
libs = ["lib"]
via_ir = true
optimizer = true
optimizer_runs = 200

[rpc_endpoints]
base_sepolia = "https://base-sepolia.g.alchemy.com/v2/GJfW9U_S-o-boMw93As3e"